<!DOCTYPE html>

{% load poll_extras %}

<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->

    <title>提交订单</title>

    {% include "include.html" %}

    <style>
        body {
            min-height: 2000px;
            padding-top: 70px;
        }
    </style>


</head>

<body>

<!-- NAVBAR -->
{% include "header.html" %}

<div class="container">

    <div>
        <table id="myTable" class="tablesorter" style="border: 1px">
            <thead>
            <tr>
                <th></th>
                <th>商品代码</th>
                <th>名称</th>
                <th>价格</th>
                <th>数量</th>
            </tr>
            </thead>
            <tbody>
            {% for b in order.boms %}
                <tr>
                    <td><a href="/product/{{ b.product.id }}"><img src="{{ b.product.pic }}" width="50" height="50" /></a></td>
                    <td>{{ b.product.sn }}</td>
                    <td>{{ b.product.name }}</td>
                    <td>{{ b.product.price }}</td>
                    <td>{{ b.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <label>总金额:</label> ￥{{ order.total }}
        <br/>
        <br/>
        <br/>
        <label>请填写收货信息</label>
        <br/>
        <br/>

        <form role="form" action="/submit_order/" method="post" id="form">
            <input type="hidden" name="order_id" value="{{ order.id }}" />
            <div class="form-group">
                <label>收货人</label>*
                <input type="text" class="form-control" placeholder="请输入收货人姓名" name="name" value="{{ request.COOKIES.name }}" />
            </div>
            <div class="form-group">
                <label>收货地址</label>*
                <input type="text" class="form-control" placeholder="请输入收货地址" name="address" value="{{ request.COOKIES.address }}" />
            </div>
            <div class="form-group">
                <label>联系电话</label>*
                <input type="text" class="form-control" placeholder="请输入联系电话" name="phone" value="{{ request.COOKIES.phone }}" />
            </div>
            <div class="form-group">
                <label>电子邮箱</label>
                <input type="text" class="form-control" placeholder="填写电子邮箱 方便接收订单信息" name="email" value="{{ request.COOKIES.email }}" />
            </div>
            <input type="submit" class="btn btn-primary" value="提交订单" />
        </form>


        <div style="clear: both" />
    </div>


    <!-- FOOTER -->
    {% include "footer.html" %}

</div><!--/.container-->


<script>
    $(function(){
        $("#cart_nav").addClass("active")

        $("#form").submit(function(){
            if( !$("[name='name']").val() ){
                alert("请填写收货人姓名")
                return false
            }
            if( !$("[name='address']").val() ){
                alert("请填写收货地址")
                return false
            }
            if( !$("[name='phone']").val() ){
                alert("请填写联系电话")
                return false
            }
            return true
        })
    })
</script>


</body>
</html>
